.student {
    font-family: sans-serif;
    display: inline-block;
    border: 2px solid grey;
    padding: 10px 15px;
    text-align: center;
    width: 200px;
    margin-right: 10px
  }
  
  .student span {
    font-weight: bold;
  }